$bg_blanco: white;
$bg_blanco2: whitesmoke;
$bg_blanco3: #dadada;
$bg_blanco4: #f1f1f1;
$bg_blanco5: #f9f8fe;
$bg_morado: #5c268c;
$bg_segundoMorado: #4524A3; 
$bg_tercerMorado: #511e7e;
$bg_cyanOscuro: #4389a2;
$bg_cyanOscuro2: #4b6b9c;
$bg_violeta: #3F57B0;
$bg_violeta2: #2d2c73;
$bg_gris: #9c9c9c;
$bg_gris2: #979797;
$bg_gris3: #707070;
$bg_gris4: #6c757d;
$bg_gris5: #5a5a5a;
$bg_black: black;
$bg_negro: #070707;
$bg_negro2: #262626;
$bg_negro3: #25262c;
$bg_negro4: #212529;
$bg_verde: #92b843;
$bg_celesteOscuro: #0f6d99; 