* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dadada; }
  body .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "contHeader contHeader contHeader" "contMain contMain contMain" "contMain contMain contMain" "contMain contMain contMain" "contFooter contFooter contFooter"; }
    body .contenedor header {
      grid-area: contHeader; }
    body .contenedor main {
      grid-area: contMain; }
    body .contenedor footer {
      grid-area: contFooter; }
  body h1 {
    font-weight: 600;
    color: #5a5a5a;
    font-size: 40px;
    margin: 20px; }
  body h2 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-weight: 500;
    color: #5a5a5a; }
  body h3 {
    font-size: 22px;
    padding: 5px; }
  body h4 {
    font-size: 16px;
    text-align: center; }

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #5C258D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4389A2, #5C258D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4389A2, #5C258D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+ Safari 7+ */
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px; }
  header .header-HeadInicio {
    padding-right: 190px; }
    header .header-HeadInicio .header-HeadInicio__div .header-HeadInicio__a .header-HeadInicio__img {
      width: 180px; }
  header .header-nav {
    padding-right: 10px;
    padding-top: 20px; }
    header .header-nav .header-nav__ul {
      list-style: none; }
      header .header-nav .header-nav__ul .header-nav__li {
        display: inline-block;
        font-size: 18px; }
        header .header-nav .header-nav__ul .header-nav__li .header-nav__a {
          color: white;
          text-decoration: none;
          padding: 12px; }
          header .header-nav .header-nav__ul .header-nav__li .header-nav__a:hover {
            color: white;
            border-bottom: 4px solid white;
            padding-bottom: 18px; }
  header .header-BotonesInicio {
    padding: 5px; }
    header .header-BotonesInicio .header-BotonesInicio__form .header-BotonesInicio__input {
      width: 250px;
      height: 35px;
      background-color: #5c268c;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px; }
      header .header-BotonesInicio .header-BotonesInicio__form .header-BotonesInicio__input::placeholder {
        color: white; }
      header .header-BotonesInicio .header-BotonesInicio__form .header-BotonesInicio__input:focus {
        border: 1.5px solid white;
        outline: none; }
      header .header-BotonesInicio .header-BotonesInicio__form .header-BotonesInicio__input:active {
        padding: 5px; }
    header .header-BotonesInicio .header-BotonesInicio__form .header-BotonesInicio__button {
      background-color: transparent;
      position: absolute;
      top: 20px;
      right: 153px;
      border: none; }
  header .header-BotonesLaterales .header-BotonesLaterales__button {
    padding: 15px; }
    header .header-BotonesLaterales .header-BotonesLaterales__button:focus {
      outline: none;
      border: none; }
    header .header-BotonesLaterales .header-BotonesLaterales__button:hover {
      outline: none;
      border: none; }
    header .header-BotonesLaterales .header-BotonesLaterales__button .header-BotonesLaterales__img {
      width: 30px; }
  header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body {
    background-color: #4389a2; }
    header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body img {
      text-align: center;
      padding-left: 140px;
      width: 300px;
      margin: 10px; }
    header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body form .form-group .input-group input {
      margin: 10px;
      padding: 10px;
      width: 10px; }
    header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body form .form-group .buttonIngresar {
      width: 300px;
      height: 60px;
      margin-top: 8px;
      margin-left: 80px;
      background-color: #5c268c;
      color: white;
      border: none;
      border-radius: 5px; }
      header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body form .form-group .buttonIngresar:hover {
        background-color: #4524A3; }
    header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body form .hint-text {
      text-align: center;
      margin-top: 20px; }
      header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body form .hint-text a {
        text-decoration: none;
        color: white; }
        header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-body form .hint-text a:hover {
          color: #3F57B0; }
  header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-footer {
    background-color: #dadada;
    padding-right: 110px; }
    header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-footer a {
      color: #4389a2;
      text-decoration: none; }
      header .header-BotonesLaterales .header-BotonesLaterales__modal .modal-dialog .modal-content .modal-footer a:hover {
        color: #3F57B0; }

main {
  width: 100%; }
  main .seccionCarrusel .carousel {
    margin-bottom: 50px; }
    main .seccionCarrusel .carousel .carousel-inner img {
      width: 1200px;
      height: 561px; }
  main .seccionMasVendido section {
    text-align: center; }
    main .seccionMasVendido section .grid-masVendido {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      align-items: baseline;
      margin: 20px; }
      main .seccionMasVendido section .grid-masVendido div {
        background-color: white;
        border-radius: 1em; }
        main .seccionMasVendido section .grid-masVendido div img {
          height: 450px; }
        main .seccionMasVendido section .grid-masVendido div:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          transform: scale(1.05); }
        main .seccionMasVendido section .grid-masVendido div .colorPrecio {
          font-size: 1.5rem;
          color: #5c268c; }
    main .seccionMasVendido section h2 {
      display: inline-block;
      position: relative; }
      main .seccionMasVendido section h2::after {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        left: -500px; }
      main .seccionMasVendido section h2::before {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        right: -500px; }
  main .seccionLanzamiento section {
    text-align: center; }
    main .seccionLanzamiento section .grid-Lanzamiento {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      align-items: baseline;
      margin: 20px; }
      main .seccionLanzamiento section .grid-Lanzamiento div {
        background-color: white;
        border-radius: 1em; }
        main .seccionLanzamiento section .grid-Lanzamiento div img {
          height: 450px; }
        main .seccionLanzamiento section .grid-Lanzamiento div:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          transform: scale(1.05); }
        main .seccionLanzamiento section .grid-Lanzamiento div .colorPrecio {
          font-size: 1.5rem;
          color: #5c268c; }
    main .seccionLanzamiento section h2 {
      display: inline-block;
      position: relative; }
      main .seccionLanzamiento section h2::after {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        left: -500px; }
      main .seccionLanzamiento section h2::before {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        right: -500px; }
  main .seccionAlg-ofertas section {
    text-align: center; }
    main .seccionAlg-ofertas section .grid-algunasOfertas {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      align-items: baseline;
      margin: 20px; }
      main .seccionAlg-ofertas section .grid-algunasOfertas div {
        background-color: white;
        border-radius: 1em; }
        main .seccionAlg-ofertas section .grid-algunasOfertas div img {
          height: 450px; }
        main .seccionAlg-ofertas section .grid-algunasOfertas div:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          transform: scale(1.05); }
        main .seccionAlg-ofertas section .grid-algunasOfertas div .colorPrecio {
          font-size: 1.5rem;
          color: #5c268c; }
          main .seccionAlg-ofertas section .grid-algunasOfertas div .colorPrecio .precioAnterior {
            text-decoration: line-through;
            color: #9c9c9c;
            font-size: 1.2rem; }
    main .seccionAlg-ofertas section h2 {
      display: inline-block;
      position: relative; }
      main .seccionAlg-ofertas section h2::after {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        left: -500px; }
      main .seccionAlg-ofertas section h2::before {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        right: -500px; }
  main section {
    text-align: center;
    /*Productos*/
    /*----------------Ofertas------------------*/
    /*----------------Contacto-----------------*/
    /*-------------Quienes Somos--------------*/ }
    main section .seccionNovedades .novedadesSamsung {
      background-color: #262626;
      color: whitesmoke;
      display: inline-block;
      height: 440px;
      margin: 20px; }
      main section .seccionNovedades .novedadesSamsung iframe {
        float: left;
        margin: 20px; }
      main section .seccionNovedades .novedadesSamsung .novedadesSamsung-texto {
        text-align: justify;
        padding: 20px; }
        main section .seccionNovedades .novedadesSamsung .novedadesSamsung-texto h2 {
          text-align: center;
          margin-top: 50px;
          color: whitesmoke; }
    main section .seccionNovedades .novedadesIphone {
      background-color: #262626;
      color: whitesmoke;
      display: inline-block;
      height: 440px;
      margin: 20px; }
      main section .seccionNovedades .novedadesIphone iframe {
        float: right;
        margin: 20px; }
      main section .seccionNovedades .novedadesIphone .novedadesIphone-texto h2 {
        text-align: center;
        color: whitesmoke;
        margin: -5px; }
      main section .seccionNovedades .novedadesIphone .novedadesIphone-texto p {
        text-align: justify;
        padding: 20px;
        padding-bottom: 20px; }
    main section .seccionNovedades .novedadesSamsungTablet {
      background-color: #262626;
      color: whitesmoke;
      display: inline-block;
      height: 440px;
      margin-top: 50px; }
      main section .seccionNovedades .novedadesSamsungTablet iframe {
        float: left; }
      main section .seccionNovedades .novedadesSamsungTablet .novedadesSamsungTablet-texto {
        text-align: center;
        margin-top: 30px; }
        main section .seccionNovedades .novedadesSamsungTablet .novedadesSamsungTablet-texto p {
          text-align: justify;
          padding: 20px; }
        main section .seccionNovedades .novedadesSamsungTablet .novedadesSamsungTablet-texto h2 {
          color: whitesmoke; }
    main section .seccionNovedades .seccionNovedadesTitulo {
      display: inline-block;
      position: relative; }
      main section .seccionNovedades .seccionNovedadesTitulo::after {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        left: -500px; }
      main section .seccionNovedades .seccionNovedadesTitulo::before {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        right: -500px; }
    main section .seccionHydrogel {
      background: #0f0c29;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      margin: 20px;
      margin-top: 100px;
      width: 1308px;
      height: 500px;
      border-radius: 10px; }
      main section .seccionHydrogel img {
        width: 500px;
        float: left; }
      main section .seccionHydrogel h2 {
        text-align: end;
        font-size: 50px;
        padding-top: 80px;
        padding-right: 150px;
        color: white; }
      main section .seccionHydrogel p {
        color: white;
        text-align: justify;
        font-size: 17px;
        padding-left: 800px;
        padding-right: 90px; }
      main section .seccionHydrogel button {
        background-color: #5c268c;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        border: none;
        margin-left: 230px;
        margin-top: 20px; }
        main section .seccionHydrogel button a {
          color: white;
          text-decoration: none; }
    main section .seccionChat {
      position: fixed;
      right: -20px;
      bottom: 2px;
      list-style: none; }
      main section .seccionChat .btn-group ul {
        padding-left: 80px;
        background-color: transparent;
        color: transparent;
        border: none;
        list-style: none; }
        main section .seccionChat .btn-group ul button:hover {
          color: transparent;
          background-color: transparent;
          border: none;
          transform: rotate(345deg); }
        main section .seccionChat .btn-group ul ul li a img {
          width: 45px; }
        main section .seccionChat .btn-group ul ul li a:hover {
          background-color: transparent;
          color: transparent;
          border: none;
          list-style-type: none;
          transform: scale(1.2, 1.2); }
    main section .seccionArriba {
      position: fixed;
      bottom: 15px;
      left: 5px; }
      main section .seccionArriba a img {
        width: 40px; }
        main section .seccionArriba a img:hover {
          transform: scale(1.2, 1.2); }
    main section .seccionExtra {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      text-align: center;
      margin: 20px; }
      main section .seccionExtra div {
        background-color: white;
        padding-left: 20px; }
        main section .seccionExtra div img {
          float: left;
          margin: 20px;
          padding-left: 32px; }
        main section .seccionExtra div p {
          float: left; }
      main section .seccionExtra .extra1 p {
        margin-top: 40px; }
      main section .seccionExtra .extra2 p {
        padding-top: 27px; }
      main section .seccionExtra .extra3 p {
        margin-top: 40px; }
    main section .seccionProductos {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      main section .seccionProductos a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.4rem;
        color: #9c9c9c;
        margin-right: 27px;
        padding: 20px; }
        main section .seccionProductos a img:hover {
          transform: scale(1.05, 1.05); }
        main section .seccionProductos a:hover {
          color: #5c268c; }
      main section .seccionProductos p {
        padding: 8px; }
    main section .productosMarcas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: baseline;
      margin: 40px;
      margin-bottom: 80px; }
    main section .grid-Celulares {
      display: grid;
      grid-template-rows: repeat(1, 3fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      align-self: baseline;
      align-content: space-between;
      margin: 20px;
      padding: 20px; }
      main section .grid-Celulares div {
        background-color: white;
        border-radius: 1em; }
        main section .grid-Celulares div:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          transform: scale(1.05); }
        main section .grid-Celulares div .colorPrecio {
          font-size: 1.5rem;
          color: #5c268c; }
        main section .grid-Celulares div img {
          height: 400px; }
    main section .grid-Tablet {
      display: grid;
      grid-template-rows: repeat(1, 2fr);
      grid-template-columns: repeat(3, 2fr);
      gap: 30px;
      align-items: baseline;
      align-content: space-between;
      margin: 20px;
      padding: 20px; }
      main section .grid-Tablet div {
        background-color: white;
        border-radius: 1em; }
        main section .grid-Tablet div:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          transform: scale(1.05); }
        main section .grid-Tablet div .colorPrecio {
          font-size: 1.5rem;
          color: #5c268c; }
        main section .grid-Tablet div img {
          width: 300px;
          height: 400px; }
    main section .grid-Relojes {
      display: grid;
      grid-template-rows: repeat(1, 2fr);
      grid-template-columns: repeat(3, 2fr);
      gap: 30px;
      align-items: baseline;
      align-content: space-between;
      margin: 20px;
      padding: 20px; }
      main section .grid-Relojes div {
        background-color: white;
        border-radius: 1em; }
        main section .grid-Relojes div:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          transform: scale(1.05); }
        main section .grid-Relojes div img {
          width: 300px;
          height: 400px; }
        main section .grid-Relojes div .colorPrecio {
          font-size: 1.5rem;
          color: #5c268c; }
    main section .seccionTituloCel {
      display: inline-block;
      position: relative; }
      main section .seccionTituloCel::after {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 1.2rem;
        left: -500px; }
      main section .seccionTituloCel::before {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 1.2rem;
        right: -500px; }
    main section .seccionTitulo {
      display: inline-block;
      position: relative; }
      main section .seccionTitulo::after {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        left: -500px; }
      main section .seccionTitulo::before {
        content: "";
        position: absolute;
        width: 450px;
        height: 1px;
        background-color: currentColor;
        top: 2.2rem;
        right: -500px; }
    main section .grid-Ofertas {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      align-items: baseline;
      align-content: space-between;
      margin: 20px; }
      main section .grid-Ofertas div {
        background-color: white;
        border-radius: 1em; }
        main section .grid-Ofertas div img {
          width: 300px;
          height: 400px; }
        main section .grid-Ofertas div p {
          align-self: end; }
        main section .grid-Ofertas div:hover {
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          transform: scale(1.05); }
        main section .grid-Ofertas div .colorPrecio {
          font-size: 1.5rem;
          color: #5c268c; }
          main section .grid-Ofertas div .colorPrecio .precioAnterior {
            text-decoration: line-through;
            color: #9c9c9c;
            font-size: 1.2rem; }
      main section .grid-Ofertas .oferItem2 img, main section .grid-Ofertas .oferItem3 img, main section .grid-Ofertas .oferItem6 img, main section .grid-Ofertas .oferItem7 img {
        width: 200px; }
    main section .fondoContacto {
      position: relative;
      display: inline-block;
      text-align: center;
      margin-bottom: 20px; }
      main section .fondoContacto img {
        width: 1348px;
        height: 300px; }
      main section .fondoContacto div {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-15%, -50%);
        border-bottom: 4px solid #5c268c; }
        main section .fondoContacto div h1 {
          color: white;
          letter-spacing: 0.5px; }
    main section .seccionFormulario {
      margin: 50px; }
      main section .seccionFormulario .p-3 h3 {
        color: #5c268c; }
      main section .seccionFormulario .p-3 .container {
        width: 800px;
        margin: auto;
        padding: 10px 30px; }
        main section .seccionFormulario .p-3 .container div .row .col h3 {
          padding: 20px; }
        main section .seccionFormulario .p-3 .container div h3 {
          padding: 20px; }
        main section .seccionFormulario .p-3 .container .formButton button {
          width: 370px;
          padding: 20px;
          margin: 10px;
          background-color: #5c268c;
          color: white;
          font-size: 19px;
          font-weight: 600;
          border: none;
          text-decoration: none; }
          main section .seccionFormulario .p-3 .container .formButton button:hover {
            background-color: #4524A3;
            color: white; }
    main section .contacto-Mensajeria {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      text-align: center;
      margin: 50px; }
      main section .contacto-Mensajeria div {
        background-color: white;
        padding-top: 50px;
        height: 200px; }
        main section .contacto-Mensajeria div p {
          font-size: 18px;
          font-weight: 500;
          padding-top: 5px; }
    main section .contacto-redesSociales {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;
      padding-right: 10px; }
      main section .contacto-redesSociales img {
        padding: 20px; }
    main section .seccionQuienessomos {
      font-weight: 500; }
      main section .seccionQuienessomos .fondoQuienes-somos {
        position: relative;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px; }
        main section .seccionQuienessomos .fondoQuienes-somos img {
          width: 1348px;
          height: 300px; }
        main section .seccionQuienessomos .fondoQuienes-somos div {
          position: absolute;
          top: 50%;
          left: 75%;
          transform: translate(-15%, -50%);
          border-bottom: 4px solid #5c268c; }
          main section .seccionQuienessomos .fondoQuienes-somos div h1 {
            color: white;
            letter-spacing: 0.5rem; }
      main section .seccionQuienessomos div h2 {
        font-size: 1.4rem;
        border-bottom: 2px solid #5c268c;
        margin-right: 450px; }
      main section .seccionQuienessomos div .imgQuienessomos-lateral {
        float: right;
        width: 400px;
        padding-right: 80px;
        margin: 20px; }
      main section .seccionQuienessomos div .textoQuienessomos {
        text-align: justify;
        padding: 20px;
        margin-top: 10px; }

footer {
  padding: 1.5rem;
  background-color: #25262c;
  border-bottom: 5px solid black; }
  footer h2 {
    color: white;
    margin-top: 20px;
    font-weight: 450;
    font-size: 28px; }
  footer .piePagina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 60px; }
    footer .piePagina ul li {
      list-style-type: none;
      padding: 5px; }
    footer .piePagina .frtSuscribete form {
      padding-left: 30px;
      padding-top: 10px; }
      footer .piePagina .frtSuscribete form p {
        color: white;
        font-size: 15px;
        text-align: justify;
        margin-left: 20px; }
      footer .piePagina .frtSuscribete form input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #9c9c9c;
        padding: 2px;
        color: white;
        width: 230px;
        height: 35px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px; }
        footer .piePagina .frtSuscribete form input::placeholder {
          color: white; }
        footer .piePagina .frtSuscribete form input:hover {
          color: white;
          border: none;
          border-bottom: 2px solid white; }
        footer .piePagina .frtSuscribete form input:focus {
          border: 2px solid white;
          outline: none; }
      footer .piePagina .frtSuscribete form button {
        background-color: #5c268c;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: none;
        color: white;
        margin-left: 85px; }
    footer .piePagina .ftrInformacion ul li {
      padding-top: 10px;
      border-bottom: 1px solid #9c9c9c; }
      footer .piePagina .ftrInformacion ul li a {
        font-size: 16px;
        color: white;
        text-decoration: none; }
        footer .piePagina .ftrInformacion ul li a:hover {
          color: #dadada; }
      footer .piePagina .ftrInformacion ul li .modal {
        color: black; }
        footer .piePagina .ftrInformacion ul li .modal .modal-dialog .modal-content .modal-header h3 {
          color: black; }
        footer .piePagina .ftrInformacion ul li .modal .modal-dialog .modal-content .modal-body {
          background-color: #dadada; }
          footer .piePagina .ftrInformacion ul li .modal .modal-dialog .modal-content .modal-body h4 {
            padding: 15px; }
          footer .piePagina .ftrInformacion ul li .modal .modal-dialog .modal-content .modal-body .modalTextoInformacion {
            text-align: justify; }
          footer .piePagina .ftrInformacion ul li .modal .modal-dialog .modal-content .modal-body .imgTarjetasDebito {
            padding-bottom: 30px; }
          footer .piePagina .ftrInformacion ul li .modal .modal-dialog .modal-content .modal-body .pagoTarjetaCredito {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start; }
            footer .piePagina .ftrInformacion ul li .modal .modal-dialog .modal-content .modal-body .pagoTarjetaCredito p {
              padding-left: 10px; }
    footer .piePagina .ftrSecciones ul li {
      color: white;
      text-align: start;
      padding-top: 10px;
      border-bottom: 1px solid #9c9c9c; }
      footer .piePagina .ftrSecciones ul li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        text-decoration: none; }
        footer .piePagina .ftrSecciones ul li a:hover {
          color: #dadada; }
    footer .piePagina .ftrLogo img {
      width: 210px;
      margin-top: 18px; }
    footer .piePagina .ftrLogo p {
      padding-left: 30px;
      color: #dadada;
      font-size: 12px;
      text-align: center;
      padding-top: 30px; }
    footer .piePagina .ftrLogo div {
      padding-left: 30px;
      margin: 20px; }
      footer .piePagina .ftrLogo div a {
        padding-left: 8px; }
        footer .piePagina .ftrLogo div a img {
          width: 35px; }
          footer .piePagina .ftrLogo div a img:hover {
            color: #dadada; }

@media screen and (max-width: 480px) {
  header {
    justify-content: flex-start; }
    header .header-HeadInicio {
      padding-right: 40px; }
      header .header-HeadInicio .header-HeadInicio__div .header-HeadInicio__a .header-HeadInicio__img {
        width: 120px; }
    header .header-nav {
      display: none; }
    header .header-BotonesLaterales .header-BotonesLaterales__button {
      padding: 8px; }
      header .header-BotonesLaterales .header-BotonesLaterales__button .header-BotonesLaterales__img {
        width: 30px; }
    header .header-BotonesInicio .header-BotonesInicio__form {
      padding-left: 10px; }
      header .header-BotonesInicio .header-BotonesInicio__form .header-BotonesInicio__input {
        background-color: transparent;
        border: 1.2px solid white;
        width: 200px;
        height: 30px; }
      header .header-BotonesInicio .header-BotonesInicio__form .header-BotonesInicio__button {
        top: 10px;
        right: 108px; }
    header .header-BotonesLaterales .header-BotonesLaterales__button .header-BotonesLaterales__img {
      width: 25px; }
  main .seccionCarrusel .carousel .carousel-inner img {
    width: 1200px;
    height: 300px; } }
