*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5 , auto); ;
    grid-template-areas: "contHeader contHeader contHeader"
                         "contMain contMain contMain"
                         "contMain contMain contMain"
                         "contMain contMain contMain"
                         "contFooter contFooter contFooter";
}

.contenedor .contHeader{
    grid-area: contHeader;
}

.contenedor .contMain{
    grid-area: contMain;
}

.contenedor .contFooter{
    grid-area: contFooter;
}


h1{
    font-weight: 600;
    color: #707070;
    font-size: 32px;
    margin: 20px;
}

h2{
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-weight: 500;
    color: #707070;
}

h3{
    font-size: 22px;
    padding: 5px;
}

h4{
    font-size: 16px;
    text-align: center;
}

header{
    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header__nav--logo_Inicio{
    padding-left: 20px;
}

.header__nav--logo_Inicio--a--img{
    width: 170px;
}

.header__nav{
    padding: 0;
}

.header__nav--menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__nav--menu--ul--li{
    display: inline-block;
    font-size: 18px;
}

.header__nav--menu--ul--li--a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 17.5px;
}

.header__nav--menu--ul--li--a:hover{
    border-bottom: 3px solid white;
    color: whitesmoke;
}

.header__nav--botonesInicio{
    padding: 5px;
}

.header__nav--botonesInicio--form--button{
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 158px;
    border: none;
}

.header__nav--botonesInicio--form--input{
    height: 35px;
    width: 200px;
    transition: .3s linear;
    background-color: #5c268c;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.header__nav--botonesInicio--form--input:hover{
    width: 250px;
}

.header__nav--botonesInicio--form--input::placeholder{
    color: white;
}

.header__nav--botonesInicio--form--input:focus{
    border: 1.5px solid white;
    outline: none;
}

.header__nav--botonesInicio--form--input:active{
    padding: 5px;
} 

.header__nav--botonesLateral--button{
    padding: 15px;
}

.header__nav--botonesLateral--button:focus{
    box-shadow: none;
}

.header__nav--botonesLateral--modal-body--form--form-group--input-group--input{
    padding: 10px;
    margin: 10px;
    width: 10px;
}

.header__nav--botonesLateral--modal-body--form--form-group--button{
    width: 300px;
    height: 60px;
    margin-top: 8px;
    margin-left: 80px;
    background-color: #5c268c;
    color: white;
    border: none;
    border-radius: 5px;
}

.header__nav--botonesLateral--modal-body--form--form-group--button:hover{
    background-color: #4524A3;
}

.header__nav--botonesLateral--modal-body--form--p{
    text-align: center;
    margin-top: 20px;
}

.header__nav--botonesLateral--modal-body--form--p--a{
    text-decoration: none;
    color: whitesmoke;
}

.header__nav--botonesLateral--modal-body--form--p--a:hover{
    color: #3F57B0;
}

.header__nav--botonesLateral--modal-body{
    background-color: #4389a2;
}

.header__nav--botonesLateral--modal-body--a--img{
    text-align: center;
    padding-left: 140px;
    width: 300px;
    margin:10px;
}

.header__nav--botonesLateral--modal-footer{
    padding-right: 110px;
}

.header__nav--botonesLateral--modal-footer--a{
    color: #4389a2;
    text-decoration: none;
}

.header__nav--botonesLateral--modal-footer--a:hover{
    color: #3F57B0;
}


/*------------------------Main------------------------------*/

.main{
    width: 100%;
    padding: 1rem 0;
}

.seccionCarrusel .carousel-inner img{
    width: 1200px;
    height: 561px;
}

.seccionCarrusel .carousel{
    margin-bottom: 50px;
}

section{
    text-align: center;
}

.seccionMasVendido h2, .seccionLanzamiento h2, .seccionAlg-ofertas h2, .seccionNovedadesTitulo{
    display: inline-block;
    position: relative;
}

.seccionMasVendido h2::after, .seccionMasVendido h2::before, .seccionLanzamiento h2::after, .seccionLanzamiento h2::before, .seccionAlg-ofertas h2::after, .seccionAlg-ofertas h2::before, .seccionNovedadesTitulo::after, .seccionNovedadesTitulo::before{
    content: "";
    position: absolute;
    width: 450px;
    height: 1px;
    background-color: currentColor;
    top: 2.2rem;
}

.seccionMasVendido h2::after, .seccionLanzamiento h2::after, .seccionAlg-ofertas h2::after, .seccionNovedadesTitulo::after{
    left: -500px;
}

.seccionMasVendido h2::before, .seccionLanzamiento h2::before, .seccionAlg-ofertas h2::before, .seccionNovedadesTitulo::before{
    right: -500px;
}

.grid-masVendido, .grid-Lanzamiento, .grid-algunasOfertas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: baseline;
    margin: 20px;
}

.grid-masVendido img, .grid-Lanzamiento img, .grid-algunasOfertas img{
    height: 380px;
}

.grid-masVendido div, .grid-Lanzamiento div, .grid-algunasOfertas div{
    background-color: white;
    border-radius: 1em;
}

.nuevoLanzamiento{
    position: absolute;
    top: 1460px;
    left: 30px;
    border-radius: 1rem;
    background-color: #92b843;
    color: whitesmoke;
    height: 25px;
    width: 60px;
}

.nuevoLanzamiento1{
    position: absolute;
    top: 1460px;
    left: 482px;
    border-radius: 1rem;
    background-color: #92b843;
    color: whitesmoke;
    height: 25px;
    width: 60px;
}

.nuevoLanzamiento2{
    position: absolute;
    top: 1460px;
    left: 935px;
    border-radius: 1rem;
    background-color: #92b843;
    color: whitesmoke;
    height: 25px;
    width: 60px;
}

.colorPrecio{
    font-size: 1.5rem;
    color: #5C258D;
}


/*Novedades*/

.novedadesSamsung{
    background-color: #262626;
    color: whitesmoke;
    display: inline-block;
    height: 450px;
    margin: 20px;
}

.novedadesSamsung iframe{
    float: left;
    margin: 20px;
}

.novedadesSamsung-texto h2{
    text-align: center;
    margin-top: 70px;
    color: whitesmoke;
}

.novedadesSamsung-texto p{
    text-align: justify;
    padding: 20px;
    
}

.novedadesIphone{
    background-color: #262626;
    color: whitesmoke;
    display: inline-block;
    height: 450px;
    margin: 20px;
}

.novedadesIphone iframe{
    float: right;
    margin: 20px;
}

.novedadesIphone-texto h2{
    text-align: center;
    margin: -5px;
    color: whitesmoke;
    
}

.novedadesIphone-texto p{
    text-align: justify;
    padding: 20px;
}

.novedadesSamsungTablet{
    background-color: #262626;
    color: whitesmoke;
    display: inline-block;
    height: 450px;
    margin-top: 50px;
}

.novedadesSamsungTablet iframe{
    float: left;
}

.novedadesSamsungTablet-texto{
    text-align: center;
    margin-top: 30px;
}

.novedadesSamsungTablet-texto p{
    text-align: justify;
    padding: 20px;
}

.novedadesSamsungTablet-texto h2{
    color: whitesmoke;
    margin-top: 30px;
}

/*Hydrogel*/

.seccionHydrogel{
    margin-top: 100px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 700px;
    margin: 20px;
    margin-top: 120px;
}


.hidrogelImagen{
    margin-top: 80px;
    width: 560px;
    float: left;
}

.hidrogelCaracteristicasImagen{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.hidrogelCaracteristicasImagen img{
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.hidrogelCaracteristicasImagen p{
    padding-top: 20px;
    color: #f9f8fe;
    font-size: 1rem;
}

.hidrogelCaracteristicasParrafo, .hidrogelCaracteristicasParrafo h2{
    color: white;
    font-size: 60px;
}

.hidrogelCaracteristicasParrafo p{
    padding: 1.2rem;
    font-size: 18px;
    text-align: start;
    border-top: 0.4rem solid #642c94;
    margin-left: 500px;
    margin-right: 20px;
}

.hidrogelCaracteristicasParrafo button{
    background-color: #5c268c;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin: 40px;
}

.hidrogelCaracteristicasParrafo button a{
    text-decoration: none;
    color: white;
}

/*Contactanos*/

.seccionContactanos{
    position: relative;
    display: inline-block;
    text-align: center;
}

.seccionContactanos img{
    width: 100%;
    height: 600px;
}

.seccionContactanos div{
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-15%, -50%);
}

.seccionContactanos-texto h2{
    color: white;
    font-size: 60px;
    text-align: start;
}

.seccionContactanos-texto p{
    color: white;
    font-size: 20px;
    text-align: start;
    padding-left: 40px;
}

.seccionContactanos-texto button{
    width: 200px;
    height: 80px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 50px;
    margin-right: 265px;
}


.seccionContactanos-texto button a{
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 25px 18px;
}

.seccionContactanos-texto button a:hover{
    color: #0f6d99;
    background-color: white;
    padding: 25px 18px 25px 18px;
}

/*Extras*/

.seccionExtra{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    padding: 30px;
}

.seccionExtra div{
    background-color: white;
}

.seccionExtra img{ 
    width: 70px;
}

.seccionExtra h4{
    margin: 20px;
    font-size: 1.1rem;
}

/*Seccion Chat*/

.seccionChat{
    position: fixed;
    right: -20px;
    bottom: 15px;
    list-style:none;
}

.btn-group ul ul {
    padding-left: 80px;
    background-color: transparent;
    color: transparent;
    border: none;
    list-style: none;
}

.btn-group ul button:focus{
    box-shadow: none;
}

.btn-group ul ul li a:hover {
    background-color: transparent;
    color: transparent;
    border: none;
    list-style-type: none;
}

.btn-group ul button:hover {
    color: transparent;
    background-color: transparent;
    border: none;
    transform: rotate(345deg);
}

.dropdown-item img{
    width: 45px;
}

.seccionArriba{
    position: fixed;
    bottom: 15px;
    left: 5px;
}
.seccionArriba a img{
    width: 40px;
}

.seccionArriba a img:hover , .seccionChat ul li img:hover{
    transform: scale(1.2, 1.2);
}

/*--------Pie de Pagina---------*/

footer{
    padding: 1.5rem;
    background-color: #25262c;
    border-bottom: 5px solid #5a5a5a;
}

.footer__piepagina h2{
    color: white;
    margin-top: 20px;
    font-weight: 450;
    font-size: 28px;
}

.footer__piepagina{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 70px;
}

.footer__piepagina ul li{
    list-style-type: none;
    padding: 5px;
}

.footer__piepagina--ftrSuscribete--form{
    padding-left: 50px;
    padding-top: 10px;
}

.footer__piepagina--ftrSuscribete--form--p{
    color: white;
    font-size: 15px;
    text-align: justify;
    margin-left: 20px;
}

.footer__piepagina--ftrSuscribete--form--input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #9c9c9c;
    padding: 2px;
    color: white;
    width: 230px;
    height: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}

.footer__piepagina--ftrSuscribete--form--input::placeholder{
    color: white;
}

.footer__piepagina--ftrSuscribete--form--input:hover {
    color: white;
    border: none;
    border-bottom: 2px solid white;
}

.footer__piepagina--ftrSuscribete--form--input:focus{
    border: 2px solid white;
    outline: none;
}

.footer__piepagina--ftrSuscribete--form--button{
    background-color: #5c268c;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 85px;
}

.footer__piepagina--ftrInformacion--ul{
    padding-left: 50px;
}

.footer__piepagina--ftrInformacion--ul--li{
    padding-top: 10px;
    border-bottom: 1px solid #9c9c9c;
}

.footer__piepagina--ftrInformacion--ul--li--a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.footer__piepagina--ftrInformacion--ul--li--a:hover{
    color: #dadada;
}

.footer__piepagina--ftrInformacion--ul--li--modal{
    color: black;
}

.footer__piepagina--ftrInformacion--ul--li--modal--modal-content--modal_body--h4{
    padding: 15px;
}

.footer__piepagina--ftrInformacion--ul--li--modal--modal-content--modal_body{
    background-color: #dadada;
}

.footer__piepagina--ftrInformacion--ul--li--modal--modal-content--modal_body--p{
    text-align: justify;
}

.footer__piepagina--ftrInformacion--ul--li--modal--modal-content--modal_body--imgTarjetasDebito{
    padding-bottom: 30px;
}

.footer__piepagina--ftrInformacion--ul--li--modal--modal-content--modal_body--pagoTarjetaCredito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.footer__piepagina--ftrInformacion--ul--li--modal--modal-content--modal_body--pagoTarjetaCredito--p{
    padding-left: 20px;
}

.footer__piepagina--ftrSecciones--ul--li{
    color: white;
    text-align: start;
    padding-top: 10px;
    border-bottom: 1px solid #9c9c9c;
}

.footer__piepagina--ftrSecciones--ul{
    padding-left: 50px;
}

.footer__piepagina--ftrSecciones--ul--li--a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-decoration: none;
}

.footer__piepagina--ftrSecciones--ul--li--a:hover{
    color: #dadada;
}

.footer__piepagina--ftrLogo--img{
    width:210px;
    margin-top: 18px;
}

.footer__piepagina--ftrLogo--p{
    padding-left: 30px;
    color: #dadada;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
}

.footer__piepagina--ftrLogo--redes_sociales{
    padding-left: 30px;
    margin: 20px;
}

.footer__piepagina--ftrLogo--redes_sociales--a{
    padding-left: 8px;
}

.footer__piepagina--ftrLogo--redes_sociales--a--img{
    width: 35px;
}

.footer__piepagina--ftrLogo--redes_sociales--a--img:hover{
    transform: scale(1.08, 1.08);
}

/*Productos*/

.grid-Celulares{
    display: grid;
    grid-template-rows: repeat(1, 3fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-self: baseline;
    align-content: space-between;
    padding: 20px;
    margin: 20px;
}

.seccionTitulo, .seccionTituloCel{
    display: inline-block;
    position: relative;
}

.seccionTitulo::after, .seccionTitulo::before, .seccionTituloCel::after, .seccionTituloCel::before{
    content: "";
    position: absolute;
    width: 450px;
    height: 1px;
    background-color: currentColor;
    top: 2.2rem;
}

.seccionTituloCel::after, .seccionTituloCel::before{
    top: 1.2rem;
}


.seccionTitulo::after, .seccionTitulo::after, .seccionTituloCel::after{
    left: -500px;
}

.seccionTitulo::before, .seccionTitulo::before, .seccionTituloCel::before{
    right: -500px;
}

.grid-Tablet, .grid-Relojes{
    display: grid;
    grid-template-rows: repeat(1, 2fr);
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
    align-items: baseline;
    align-content: space-between;
    margin: 20px;
    padding: 20px;
}

.grid-Celulares div,.grid-Tablet div, .grid-Relojes div{
    background-color: white;
    border-radius: 1em;
}

.grid-Celulares div:hover, .grid-Tablet div:hover, .grid-Relojes div:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scale(1);
}

.grid-Celulares img{
    height: 350px;
}

.grid-Tablet img{
    width: 250px;
    height: 350px;
}
.grid-Relojes img{
    width: 250px;
    height: 350px;
}

.productosMarcas-Titulo{
    color: #979797;
}

.seccionProductos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seccionProductos p{
    padding: 8px;
}

.seccionProductos a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    color: #9c9c9c;
    margin-right: 27px;
    padding: 20px;
}

.seccionProductos a:hover{
    color: #4b6b9c;
}
.seccionProductos img:hover{
    transform: scale(1.05, 1.05);
}

.productosMarcas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 40px;
    margin-bottom: 80px;
}


/*Ofertas*/

.grid-Ofertas{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: baseline;
    align-content: space-between;
    margin: 20px;
}

.grid-Ofertas div{
    background-color: white;
    border-radius: 1em;
}

.grid-Ofertas div:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    transform: scale(1.01);
}

.grid-Ofertas img{
    width: 250px;
    height: 370px;
}

.grid-Ofertas p{
    align-self: end;
}

.oferItem2 img, .oferItem3 img, .oferItem6 img, .oferItem7 img{
    width: 200px;
}

.precioAnterior{
    text-decoration: line-through;
    color: #9c9c9c;
    font-size: 1.2rem;
}


/*CONTACTO*/

.fondoContacto{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.fondoContacto div{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-15%, -50%);
    border-bottom: 4px solid #5c268c;
}

.fondoContacto img{
    width: 1365px;
    height: 300px;
}

.fondoContacto h1{
    color: white;
    letter-spacing: 0.5rem;
}

.seccionFormulario{
    margin: 50px;
}

.textFormulario h3{
    padding: 50px;
}

.container{
    width: 900px;
    margin: auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.container input, .container select{
    width: 400px;
}

.textFormulario h3{
    color: #5c268c;
}

.container h3{
    padding: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-control:focus, .form-select:focus{
    box-shadow: none;
    border: 1.5px solid #4524A3;
}

.form-select option{
    color: #4524A3;
}

.form-select{
    color: #6c757d;
}

.formConsulta{
    width: 825px;
}
    

.formButton button{
    width: 370px;
    padding: 20px;
    margin: 10px;
    background-color: #5C258D ;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border: none;
    text-decoration: none;
}

.formButton button:hover{
    background-color: #4524A3;
    color: white;
}

.contacto-redesSocialesTitulo{
    color: #707070;
}

.contacto-redesSociales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    padding-right: 10px;    
}

.contacto-redesSociales img{
    padding: 20px;
}

.contacto-Mensajeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    background-color: #f1f1f1;
    padding: 2rem;

}

.contacto-Mensajeria div{
    padding-top: 50px;
    height: 200px;
    padding: 2rem;
}

.contacto-Mensajeria p{
    font-size: 18px;
    font-weight: 410;
    padding-top: 5px;
}

.contacto-Mensajeria p a{
    text-decoration: none;
    color: #212529;
}

.contacto-MensajeriaColor{
    padding: 15px;
    color: #5c268c;
    font-size: 20px;
}

.contacto-MensajeriaColor-Llamanos{
    border-left: 5px solid #5c268c;
    border-right: 5px solid #5c268c;
}


/*-------------Quienes Somos--------------*/

.fondoQuienes-somos{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.fondoQuienes-somos div{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-15%, -50%);
    border-bottom: 4px solid #5c268c;
}

.fondoQuienes-somos img{
    width: 1348px;
    height: 300px;
}

.fondoQuienes-somos h1{
    color: white;
    letter-spacing: 0.5rem;
}

.parrafoQuienessomos{
    text-align: justify;
    padding: 20px;
    font-weight: 500;
}

.seccionQuienessomos h2{
    font-size: 1.4rem;
    border-bottom: 2px solid #5c268c;
    margin-right: 360px;
}

.textoQuienessomos{
    text-align: center;
    font-weight: 500;
}

.imgQuienessomos-lateral{
    float: right;
    width: 320px;
    margin: 20px;
}

/* Media Queries */


@media screen and (max-width: 1024px) {
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5 , auto); ;
        grid-template-areas: "contHeader contHeader"
                             "contMain contMain"
                             "contMain contMain"
                             "contMain contMain"
                             "contFooter contFooter"
    }

    h3{
        font-size: 20px;
    }
    .colorPrecio{
        font-size: 21px;
    }

    header{
        justify-content: space-evenly;

    }

    .headInicio img{
        width: 150px;
    }
    
    nav{
        padding-left: 30px;
    }

    nav ul li, .botonesInicio form input{
        font-size: 15px;
    }

    nav ul li a:hover{
        padding-bottom: 16px;
    }

    .submitBuscador input {
        height: 32px;
        width: 180px;
    }

    .submitBuscador input:hover{
        width: 200px;
    }

    .submitBuscador button{
        top: 16px;
        right: 145px;
    }

    .botonesLateral img{
        width: 85%;
    }

    .botonesLateral button{
        padding: 10px;
    }

    .seccionCarrusel .carousel-inner img{
        height: 431px;
    }

    .seccionMasVendido h2::after, .seccionMasVendido h2::before, .seccionLanzamiento h2::after, .seccionLanzamiento h2::before, .seccionAlg-ofertas h2::after, .seccionAlg-ofertas h2::before, .seccionNovedadesTitulo::after, .seccionNovedadesTitulo::before, .seccionTitulo::after, .seccionTitulo::before, .seccionTituloCel::after, .seccionTituloCel::before{
        width: 350px;
    }

    .seccionMasVendido h2::after, .seccionLanzamiento h2::after, .seccionAlg-ofertas h2::after, .seccionNovedadesTitulo::after, .seccionTitulo::after, .seccionTitulo::after, .seccionTituloCel::after{
        left: -350px;
    }
    
    .seccionMasVendido h2::before, .seccionLanzamiento h2::before, .seccionAlg-ofertas h2::before, .seccionNovedadesTitulo::before, .seccionTitulo::before, .seccionTituloCel::before{
        right: -350px;
    }
        
    .grid-masVendido img, .grid-Lanzamiento img, .grid-algunasOfertas img{
        height: 350px;
    }

    .grid-Celulares img{
        height: 350px;
    }
    
    .grid-Tablet img{
        width: 250px;
        height: 350px;
    }
    .grid-Relojes img{
        width: 200px;
        height: 300px;
    }

    .nuevoLanzamiento, .nuevoLanzamiento1, .nuevoLanzamiento2{
        top: 1280px;
    }

    .nuevoLanzamiento{
        left: 30px;
    }
    
    .nuevoLanzamiento1{
        left: 370px;
    }
    
    .nuevoLanzamiento2{
        left: 710px;
    }

    .seccionNovedades iframe{
        width: 55%;
    }

    .novedadesSamsung h2, .novedadesIphone h2, .novedadesSamsungTablet h2{
        font-size: 22px;
    }

    .seccionNovedades p{
        font-size: 14px;
    }

    .novedadesSamsungTablet-texto{
        margin-top: 5px;
    }

    .hidrogelImagen{
        width: 500px;
    }

    .hidrogelCaracteristicasParrafo p{
        font-size: 16px;
        padding: 0;
    }

    .seccionChat img, .seccionArriba a img{
        width: 70%;
    }

    .btn-group ul ul {
        padding-left: 85px;
    }

    .dropdown-item img{
        width: 80%;
    }

    .seccionExtra img{
        width: 18%;
        padding-left: 0;
        padding-top: 10px;
        margin: 10px;
    }

    .piePagina{
        padding-right: 10px;
    }

    footer h2{
        margin: 0px;
        margin-top: 40px;
        padding: 0;
        padding-right: 40px;
        padding-bottom: 30px;
        font-size: 22px;
    }

    .ftrSuscribete form, .ftrInformacion ul, .ftrSecciones ul{
        padding: 0;
    }

    .ftrSuscribete form p{
        font-size: 13px;
    }

    .ftrSuscribete form input{
        width: 200px;
        height: 30px;
    }

    .ftrSuscribete form button{
        width: 27%;
        margin-left: 75px;
    }

    .ftrInformacion ul li a, .ftrSecciones ul li a, .ftrSuscribete form button, .ftrSuscribete form input::placeholder, .ftrSuscribete form input{
        font-size: 14px;
    }

    .ftrLogo img{
        width: 180px;
    }

    .ftrLogo div a img{
        width: 25px;
    }

    .ftrLogo p{
        font-size: 11px;
    }

    .seccionProductos img{
        width: 60px;
    }

    .fondoQuienes-somos img, .fondoContacto img{
        width: 1006px;
    }

    .seccionInicio iframe{
        margin: 20px;
        width: 950px;
    }

    .imgQuienessomos-lateral{
        height: 530px;
    }
}



@media screen  and (min-width: 480px) and (max-width: 768px){
    
}

@media screen and (min-width: 320px) and (max-width: 480px){

    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5 , auto); ;
        grid-template-areas: "contHeader"
                             "contMain"
                             "contMain"
                             "contMain"
                             "contFooter";
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 14px;  
    }

    h4{
        font-size: 11px;
    }

    p{
        font-size: 12px;
    }

    /*----------------------------RESPONSIVE CELULAR----------------------------*/
    /*--------------------------------HEADER------------------------------------*/

    .nav{
        visibility: visible;
        background: #5C258D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .header__nav--logo_Inicio{
        padding: 0;
    }

    .header__nav--menu{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .header__nav--menu--ul--li{
        align-self: flex-start;
        font-size: 14px;
    }

    .header__nav--menu--ul--li--a{
        padding: 8px;
    }

    .header__nav--botonesInicio--form--input{
        width: 380px;
        transition: none !important;
    }

    .header__nav--botonesInicio--form--input:hover{
        width: 380px;
    }

    .header__nav--botonesInicio--form--input::placeholder{
        font-size: 14px;
    }

    .header__nav--botonesInicio--form--button{
        top: 222px;
        right: 30px;
    }

    .header__nav--botonesLateral--modal-header .modal-title{
        font-size: 18px;
    }

    .header__nav--botonesLateral--modal-body--a--img{
        padding-left: 85px;
        width: 70%;
    }

    .header__nav--botonesLateral--button img{
        width: 90%;
    }

    .header__nav--botonesLateral--modal-body--form--form-group--input-group--input{
        height: 40px;
    }

    .header__nav--botonesLateral--modal-body--form--form-group--input-group--input::placeholder{
        font-size: 14px;
    }

    .header__nav--botonesLateral--modal-body--form--form-group--button{
        height: 45px;
        margin-left: 25px;
        font-size: 14px;
    }

    .header__nav--botonesLateral--modal-footer{
        margin-left: 40px;
    }

    .header__nav--botonesLateral--modal-footer--a{
        font-size: 12px;
    }

    /*----------------------------RESPONSIVE CELULAR----------------------------*/
    /*--------------------------------MAIN------------------------------------*/

    .seccionCarrusel .carousel-inner img{
        height: 200px;
    }

    .header__nav--botonesLateral--modal-body{
        background: #4389A2;
    }

    .grid-masVendido, .grid-Lanzamiento, .grid-algunasOfertas, .seccionExtra{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items: baseline;
        margin: 20px;
        justify-content: stretch;
    }

    .grid-masVendido div,.grid-Lanzamiento div, .grid-algunasOfertas div{
        background-color: white;
        border-radius: 0.5em;
        align-self: stretch;
    }

    .grid-masVendido h3,.grid-Lanzamiento h3, .grid-algunasOfertas h3, .seccionExtra h3{
        font-size: 9px;
    }

    .grid-masVendido img, .grid-Lanzamiento img, .grid-algunasOfertas img{
        width: 75px;
        height: 150px;
    }

    .lanzItem2 img{
        width: 100px;
    }


    .grid-algunasOfertas div,.grid-Lanzamiento div{
        align-self: stretch;
    }

    .seccionMasVendido h2::after, .seccionMasVendido h2::before, .seccionLanzamiento h2::after, .seccionLanzamiento h2::before, .seccionAlg-ofertas h2::after, .seccionAlg-ofertas h2::before, .seccionNovedadesTitulo::after, .seccionNovedadesTitulo::before,.seccionTitulo::after, .seccionTitulo::before, .seccionTituloCel::after, .seccionTituloCel::before{
        width: 80px;
        top: 2rem;
    }

    .seccionMasVendido h2::after, .seccionLanzamiento h2::after, .seccionAlg-ofertas h2::after, .seccionNovedadesTitulo::after,.seccionTitulo::after, .seccionTitulo::after, .seccionTituloCel::after{
        left: -80px;
    }

    .seccionMasVendido h2::before, .seccionLanzamiento h2::before, .seccionAlg-ofertas h2::before, .seccionNovedadesTitulo::before,.seccionTitulo::before, .seccionTitulo::before, .seccionTituloCel::before{
        right: -80px;
    }

    .nuevoLanzamiento, .nuevoLanzamiento1, .nuevoLanzamiento2{
        height: 8px;
        width: 18px;
        font-size: 5px;
        top: 810px;
    }

    .nuevoLanzamiento{
        left: 25px;
    }

    .nuevoLanzamiento1{
        left: 153px;
    }

    .nuevoLanzamiento2{
        left: 282px;
    }
    
    .seccionNovedades{
        background-color: #262626;
        height: 112em;
    }

    .seccionNovedades p{
        font-size: 11px;
    }

    .seccionNovedades h2{
        font-size: 16px;
    }

    .novedadesSamsung iframe, .novedadesIphone iframe, .novedadesSamsungTablet iframe{
        width: 100%;
        height: 60%;
        float: none;
        margin: 0;
    }

    .novedadesSamsung-texto h2, .novedadesIphone-texto h2, .novedadesSamsungTablet-texto h2{
        margin-top: 5px;
    }

    .novedadesSamsungTablet{
        margin: 0;
    }

    .colorPrecio{
        font-size: 11px;
    }

    .precioAnterior{
        font-size: 10px;
    }

    .seccionHydrogel{
        height: 55%;
        margin: 0;
    }

    .hidrogelImagen{
        width: 55%;
        height: 300px;
        margin-top: 30px;
    }

    .hidrogelCaracteristicasImagen img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .hidrogelCaracteristicasParrafo h2{
        font-size: 28px;
    }

    .hidrogelCaracteristicasParrafo p{
        font-size: 9px;
        text-align: start;
        margin-left: 220px;
        border-top: 0.2rem solid #642c94;
    }

    .hidrogelCaracteristicasParrafo button{
        width: 80px;
        height: 40px;
        margin: 20px;
        font-size: 11px;
    }

    .hidrogelCaracteristicasImagen p{
        font-size: 11px;
    }

    .seccionContactanos{
        margin: 0;
    }

    .seccionContactanos img{
        width: 100%;
        height: 500px;
    }

    .seccionContactanos-texto h2{
        font-size: 28px;
    }

    .seccionContactanos-texto p{
        font-size: 14px;
        padding-left: 45px;
        margin-right: 100px;
    }

    .seccionContactanos-texto button{
        margin-right: 130px;
        width: 40%;
        height: 60px;
    }

    .seccionContactanos-texto button a{
        font-size: 14px;
    }

    .seccionContactanos-texto button a:hover{
        padding: 14.6%;
    }

    .seccionChat{
        bottom: 15px;
    }

    .seccionChat img{
        width: 50%;
    }

    .dropdown-item img{
        width: 70%;
    }

    .seccionArriba{
        bottom: 30px;
        left: 0;
    }

    .seccionArriba a img{
        width: 55%;
    }

    .seccionExtra{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        padding: 0px;
    }

    .seccionExtra h4{
        font-size: 1rem;
    }

    .btn-group ul ul{
        padding-left: 90px;
    }

    /*----------------------------RESPONSIVE CELULAR----------------------------*/
    /*--------------------------------PRODUCTOS------------------------------------*/

    .grid-Celulares, .grid-Tablet, .grid-Relojes, .grid-Ofertas{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: stretch;
    }

    .grid-Celulares img{
        width: 60px;
        height: 120px;
    }
    
    .grid-Tablet img{
        width: 90px;
        height: 120px;
    }
    .grid-Relojes img{
        width: 70px;
        height: 120px;
    }

    .grid-Celulares div,.grid-Tablet div, .grid-Relojes div{
        background-color: white;
        border-radius: 0.5em;
        align-self: flex-end;
    }

    .grid-Celulares h3,.grid-Tablet h3, .grid-Relojes h3{
        font-size: 9px;
    }

    .seccionTituloCel{
        font-size: 20px ;
    }

    .seccionTituloCel::after, .seccionTituloCel::before{
        top: 0.8rem;
        width: 70px;
    }

    .seccionTitulo::after, .seccionTitulo::after, .seccionTituloCel::after{
        left: -80px;
    }

    .seccionTitulo::after, .seccionTitulo::after, .seccionTituloCel::after{
        right: -80px;
    }

    .seccionProductos{
        padding-left: 32px;
    }

    .seccionProductos img{
        width: 60%;
        height: 48%;
    }

    .seccionProductos a{
        padding: 5px;
    }

    .productosMarcas img{
        width: 50%;
        margin: 6px;
    }

    .productosMarcas {
        flex-direction: column;
        align-items: center;
    }

    .seccionExtra img{ 
        width: 15%;
    }

    .seccionExtra h4 {
        font-size: 0.8rem;
    }

    /*----------------------------RESPONSIVE CELULAR----------------------------*/
    /*--------------------------------OFERTAS------------------------------------*/

    .grid-Ofertas h3{
        font-size: 9px;
    }

    .grid-Ofertas div{
        border-radius: 0.5em;
    }

    .grid-Ofertas img{
        width: 60px;
        height: 120px;
    }

    .oferItem1 img , .oferItem5 img{
        width: 80px;
    }

    .oferItem8 img{
        width: 90px;
    }

    /*----------------------------RESPONSIVE CELULAR----------------------------*/
    /*--------------------------------CONTACTO------------------------------------*/

    .fondoContacto img{
        width: 100%;
        height: 200px;
    }

    .fondoContacto div{
        left: 50%;
    }

    .fondoContacto h1{
        letter-spacing: 0.2rem;
    }

    .contactoIframe{
        width: 90%;
    }

    .contacto-redesSociales img{
        padding: 28px;
    }

    .formButton button{
        padding: 0;
        margin-top: 20px;
        width: 100px;
        height: 40px;
        font-size: 16px;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        width: 80%;
        padding: 0;
    }

    .container input, .container select{
        width: 100%;
        height: 80%;
    }

    .formConsulta{
        width: 100%;
    }

    input::placeholder, textarea::placeholder, .form-select{
        font-size: 14px;
    }

    .contacto-redesSociales img{
        width: 90%;
    }

    .contacto-Mensajeria{
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
        text-align: center;
        background-color: #f1f1f1;
        padding: 2rem;
    }

    .contacto-MensajeriaColor-Mensaje img{
        width: 20%;
    }

    .contacto-MensajeriaColor-Llamanos{
        border-top: 5px solid #5c268c;
        border-bottom: 5px solid #5c268c;
        border-left: 0;
        border-right: 0;
    }

    .contacto-Mensajeria p, .contacto-MensajeriaColor{
        font-size: 14px;
        font-weight: 410;
        padding-top: 5px;
    }
    

    /*----------------------------RESPONSIVE CELULAR----------------------------*/
    /*--------------------------------QUIENES SOMOS------------------------------------*/

    .fondoQuienes-somos img{
        width: 100%;
        height: 200px;
    }

    .fondoQuienes-somos div{
        left: 62%;
    }

    .fondoQuienes-somos h1{
        letter-spacing: 0.2rem;
    }

    .imgQuienessomos-lateral{
        width: 40%;
        height: 40%;
    }

    .seccionQuienessomos h2{
        margin-right: 20px;
    }

    /*----------------------------RESPONSIVE CELULAR----------------------------*/
    /*--------------------------------FOOTER------------------------------------*/

    footer{
        padding: 1rem;
    }

    .footer__piepagina h2{
        text-align: start;
        padding-left: 50px;
        font-size: 20px;
    }

    .footer__piepagina{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-self: flex-start;
        padding: 0px;
    }

    .footer__piepagina--ftrInformacion--ul{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .footer__piepagina--ftrSecciones--ul{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .footer__piepagina--ftrSuscribete--form--p, .footer__piepagina--ftrSuscribete--form--input::placeholder{
        font-size: 12px;
    }

    .footer__piepagina--ftrSuscribete--form--button, .footer__piepagina--ftrInformacion--ul--li--a, .footer__piepagina--ftrSecciones--ul--li--a{
        font-size: 14px;
    }

    .footer__piepagina--ftrLogo--p{
        font-size: 10px;
    }

    .footer__piepagina--ftrLogo--img{
        width: 65%;
    }
    .footer__piepagina--ftrLogo--redes_sociales--a--img{
        width: 10%;
    }

    
    .footer__piepagina--ftrLogo--p{
        padding: 0;
    }

    .footer__piepagina--ftrLogo--img{
        padding-left: 120px;
    }

    .footer__piepagina--ftrLogo--redes_sociales{
        padding-left: 120px;
    }

}
