$bg_blanco: white;
$bg_blanco2: whitesmoke;
$bg_blanco3: #dadada;
$bg_morado: #5c268c; 
$bg_cyanOscuro: #4389a2;
$bg_cyanOscuro2: #4b6b9c;
$bg_violeta: #3F57B0;
$bg_violeta2: #2d2c73;
$bg_segundoMorado: #4524A3;
$bg_gris: #9c9c9c;
$bg_black: black;
$bg_negro: #070707;
$bg_negro2: #262626;
$bg_negro3: #25262c; 
